function paci (){
    if [ $# -eq 0 ]; then
        echo Using package from last search for install: "$PACS"
        sudo pacman -S $PACS
    else
        sudo pacman -S $@
    fi
}

function pacs (){
    export PACS="$@"
    pacman -Ss $@
}

function dotify (){
    mkdir -p "$HOME/.dotfiles/$1/.config/"
    mv "$HOME/.config/$1" $_
    stow -d ~/.dotfiles -t ~ -S $1
}
# alias pacs='pacman -Ss'
alias pacu='sudo pacman -Syu && yay --no-confirm'

alias ls='ls -hN --color=auto --group-directories-first'
alias la='ls -alhN --color=auto --group-directories-first'
alias ll='ls -alFh'
alias l='ls -CFh'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

alias clip=clipboard

alias t='tail -f'

# Command line head / tail shortcuts
alias -g H='| head'
alias -g T='| tail'
alias -g G='| grep'
alias -g L="| less"
alias -g M="| most"
alias -g LL="2>&1 | less"
alias -g CA="2>&1 | cat -A"
alias -g NE="2> /dev/null"
alias -g NUL="> /dev/null 2>&1"
alias -g P="2>&1| pygmentize -l pytb"

alias dud='du -d 1 -h'
alias duf='du -sh *'
alias fd='find . -type d -name'
alias ff='find . -type f -name'

alias h='history'
alias hgrep="fc -El 0 | grep"
alias help='man'
alias p='ps -f'
alias sortnr='sort -n -r'
alias unexport='unset'

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

alias code='phpstorm'
alias i3config='nvim ~/.config/i3/config'
alias pipes='pipes.sh'
alias sys='systemctl'
alias cat='bat'
alias calc='speedcrunch'
alias open='xdg-open'
alias vim='nvim'
alias dl='aria2c'
alias cd..='cd ..'
alias ...='../..'
alias ....='../../..'
alias diff='icdiff'
alias dragon='dragon-drag-and-drop'
